<center>
<h1>We Are the Fauna</h1>
<p>We do pretend shapes, like the dark and pending storm clouds.</p>
<p>We do exist to seek out all the things that make the dream stay.</p>
<br>
<br>
<p>I looked into the mirror to ghost child. That's where all the <h3>little battles</h3> play out.</p>
<p><span style="font-size:20px;font-weight:bold">I Breath In The Dust</span>
of a past that drifts in from the <span style="font-size:50px;font-weight:bold">endless forgetting</span></p>
<br/>
<br/>
<a href="http://wearefauna.bandcamp.com">Music</a><br/>
<a href="http://www.facebook.com/wearefaunaband">Social</a>
</center>
